<template>
  <div class="block">
      <el-table
    :data="tableData"
    v-loading="loading"
    row-key="id"
    border
    stripe
    style="width: 100%"
  >
    <el-table-column
      fixed
      is-dot
      prop="base_coin"
      label="币种"
      width="60"
    >
      <template slot-scope="scope">
        <el-button type="text" size="small">{{ scope.row.base_coin }}</el-button>
      </template>
    </el-table-column>
    <el-table-column
      prop="count_coin"
      label="计价币种"
      width="80"
    />
    <el-table-column
      prop="symbol"
      label="交易对"
      width="80"
    />
    <el-table-column
      sortable
      prop="last"
      label="最新价"
      width="90"
    />
    <el-table-column
      sortable
      prop="vol"
      label="24H 交易量"
      width="130"
    >
      <template slot-scope="scope">
          {{ Number(scope.row.vol).toFixed(2) }}
      </template>
    </el-table-column>
    <el-table-column
      sortable
      prop="high"
      label="24H 最高价"
      width="130"
    />
    <el-table-column
      sortable
      prop="low"
      label="24H 最低价"
      width="130"
    />
    <el-table-column
      sortable
      prop="rose"
      label="24H 涨跌幅度"
      width="140"
    >
      <template slot-scope="scope">
          <el-tag type="danger" v-if="scope.row.rose[0] === '-'">{{ Number(Number(scope.row.rose) * 100).toFixed(3) + '%' }}</el-tag>
          <el-tag type="success" v-else>{{ Number(Number(scope.row.rose) * 100).toFixed(3) + '%' }}</el-tag>
      </template>
    </el-table-column>
    <el-table-column
      sortable
      prop="add_at"
      label="增加时间"
      width="160"
    />
    <el-table-column
      prop="price_precision"
      label="价格精度"
      width="80"
    />
    <el-table-column
      prop="amount_precision"
      label="数量精度"
      width="80"
    />
    <el-table-column
      fixed="right"
      label="操作"
      width="150"
    >
      <template slot-scope="scope">
        <el-button type="text" size="small" @click="handleClick(scope.row)">闪购</el-button>
        <el-button type="text" size="small" @click="handleWebClick(scope.row)">查看BIKI官网</el-button>
      </template>
    </el-table-column>
  </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="currentPage"
      :page-sizes="[20, 50, 100, 200]"
      :page-size="limit"
      layout="total, sizes, prev, pager, next"
      :total="rawData.length">
    </el-pagination>
  </div>
</template>

<script>
import { getCoinList } from '@/api/coin'
export default {

  data() {
    return {
      rawData: [],
      tableData: [],
      currentPage: 1,
      limit: 20,
      loading: true
    }
  },
  watch: {
    tableData (newList) {
      console.log(newList)
        this.tableData = newList
    }
},
  mounted() {
    this.get_biki_list()
  },
  methods: {
    handleSizeChange(val) {
      const pageSize = Math.ceil(this.rawData.length / val)
      if (pageSize < this.currentPage) {
          this.currentPage = pageSize
      }
      this.limit = val
      this.handleCurrentChange()
    },
    handleCurrentChange(val) {
      this.currentPage = val || 1
      const startNum = (this.currentPage - 1) * this.limit
      this.tableData.splice(0, this.tableData.length, ...this.rawData.slice(startNum, startNum + this.limit))
    },
    handleWebClick(row) {
      const webURL = 'https://www.biki.com/trade/' + row.base_coin + '_' + row.count_coin
      window.open(webURL)
    },
    get_biki_list() {
      return new Promise((resolve, reject) => {
        getCoinList().then(response => {
          this.rawData = response.data
          this.loading = false
          this.handleCurrentChange(1)
        }).catch(error => {
          reject(error)
          this.loading = false
        })
      })
    }
  }
}
</script>
