<template>
  <div class="dashboard-container">
    <div>
      <h3>
        biki 信息
      </h3>
    </div>
    <BTable />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import BTable from '@/components/Table'
export default {
  name: 'Dashboard',
  components: {
    BTable
  },
  computed: {
    ...mapGetters([
      'name'
    ])
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>
